<!doctype html>
<html>
<head>
    <title>Dreamforce 2013 Opinion Demo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>

    <script src="/public/client.js"></script>

</head>
<body class="coffee">
  <ul id="content">
    {{{body}}}
  </ul>
</body>
</html>