<!doctype html>
<html>
<head>
    <title>Dreamforce 2013 Survey Demo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="public/styles.css">
    <script src="public/client.js"></script>

</head>
<body>
  <div class="content">
    {{{body}}}
  </div>
</body>
</html>