<h1>Welcome to Dreamforce!</h1>

<form action="/survey" method="post">

  <input type="hidden" name="id" value="{{id}}">
  <input type="hidden" name="latitude" id="latitude">
  <input type="hidden" name="longitude" id="longitude">

  <ul class="questions">
    {{#each questions}}
      <li class="{{response_type__c}}">
        <h2>{{question__c}}</h2>
        {{{answerInput}}}
      </li>
    {{/each}}
  </ul>

  <input type="submit" value="Submit">
</form>