{{#if thanks}}
  <p>Thanks for taking the survey!</p>

{{else}}

  <h1>Choose a Survey</h1>

  <ul class="surveys">
    {{#each surveys}}
      <li>
        <a href="/{{sfid}}">{{name}}</a>
      </li>
    {{/each}}
  </ul>

{{/if}}

