{{#if thanks}}
  <li>
      <img src="/public/coffee-cup.svg" class="coffee">

    <h1>
      <a href="/">Thanks! Want to do it again?</a>
    </h1>
  </li>
{{else}}

  <li>
    <h1>Opinionomatic</h1>
  </li>

  {{#each opinions}}
    <li>
      <a href="/opinions/{{sfid}}">{{description__c}}</a>
    </li>
  {{/each}}

{{/if}}