{{#if thanks}}
  <li>
    <p>
      Thanks!
      Want to
      <a href="/">do it again</a>?
    </p>
  </li>
{{else}}

  <li>
    <h1>Opionomatic</h1>
  </li>

  {{#each opinions}}
    <li>
      <a href="/opinions/{{sfid}}">{{description__c}}</a>
    </li>
  {{/each}}

{{/if}}