{{#if thanks}}
  <p>
    Thanks for taking the survey!
    Care to <a href="/">take another?</a>
  </p>
{{else}}

  <h1>Choose a Survey</h1>

  <ul class="surveys">
    {{#each surveys}}
      <li>
        <a href="/surveys/{{sfid}}">{{name}}</a>
      </li>
    {{/each}}
  </ul>

{{/if}}

