html
  head
    title Dreamforce 2013 Survey Demo

    //- script(src="/javascripts/vendor/jquery.min.js")
    //- script(src="/javascripts/vendor/jquery.select-text.js")
    //- script(src="/javascripts/vendor/jquery.timeago.js")
    //- script(src="/javascripts/app.js")

    //- link(rel="stylesheet", href="/stylesheets/app.css")

    //- script(src="//use.typekit.net/lal1whd.js")
    //- script= "try{Typekit.load();}catch(e){}"

  body
    .container
      block content