*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  padding: 0;
  margin: 0;
}
body {
  font-family: Roboto, "helvetica neue", helvetica;
  font-size: 18px;
  font-weight: 300;
  padding: 15px;
  color: #7a8788;
  background-color: #381e11;
}
body.coffee {
  background: #381e11 url("coffee-beans.jpg");
}
#content {
  position: relative;
  margin: 0 auto 20px auto;
  width: 100%;
  max-width: 480px;
  padding: 0;
}
#content li {
  list-style: none;
  margin: 0;
  padding: 15px;
  background: #fff;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
  margin-top: 10px;
  transition: all 0.5s;
  opacity: 0;
  display: block;
  border-radius: 2px;
  -webkit-transform: translate(300px, 0);
  -moz-transform: translate(300px, 0);
  transform: translate(300px, 0);
}
#content li:nth-child(1) {
  transition-delay: 0.15s;
}
#content li:nth-child(2) {
  transition-delay: 0.3s;
}
#content li:nth-child(3) {
  transition-delay: 0.44999999999999996s;
}
#content li:nth-child(4) {
  transition-delay: 0.6s;
}
#content li:nth-child(5) {
  transition-delay: 0.75s;
}
#content li:nth-child(6) {
  transition-delay: 0.8999999999999999s;
}
#content li:nth-child(7) {
  transition-delay: 1.05s;
}
#content li:nth-child(8) {
  transition-delay: 1.2s;
}
#content li:nth-child(9) {
  transition-delay: 1.3499999999999999s;
}
#content li:nth-child(10) {
  transition-delay: 1.5s;
}
#content li:nth-child(11) {
  transition-delay: 1.65s;
}
#content li:nth-child(12) {
  transition-delay: 1.7999999999999998s;
}
#content li:nth-child(13) {
  transition-delay: 1.95s;
}
#content li:nth-child(14) {
  transition-delay: 2.1s;
}
#content li:nth-child(15) {
  transition-delay: 2.25s;
}
#content li:nth-child(16) {
  transition-delay: 2.4s;
}
#content li:nth-child(17) {
  transition-delay: 2.55s;
}
#content li:nth-child(18) {
  transition-delay: 2.6999999999999997s;
}
#content li:nth-child(19) {
  transition-delay: 2.85s;
}
#content li:nth-child(20) {
  transition-delay: 3s;
}
#content li:nth-child(21) {
  transition-delay: 3.15s;
}
#content li:nth-child(22) {
  transition-delay: 3.3s;
}
#content li:nth-child(23) {
  transition-delay: 3.4499999999999997s;
}
#content li:nth-child(24) {
  transition-delay: 3.5999999999999996s;
}
#content li:nth-child(25) {
  transition-delay: 3.75s;
}
#content li:nth-child(26) {
  transition-delay: 3.9s;
}
#content li:nth-child(27) {
  transition-delay: 4.05s;
}
#content li:nth-child(28) {
  transition-delay: 4.2s;
}
#content li:nth-child(29) {
  transition-delay: 4.35s;
}
#content li:nth-child(30) {
  transition-delay: 4.5s;
}
#content li.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0);
}
#content li.transparent-bg {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  font-weight: 300;
  color: #3498db;
}
h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
}
label {
  font-family: Roboto, "helvetica neue", helvetica;
  font-weight: 300;
  list-style: none;
  margin: 0;
  padding: 0 0 6px 0;
  font-size: 16px;
  line-height: 1.5;
}
a {
  color: #3498db;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul.questions,
ul.opinions {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.questions > li,
ul.opinions > li {
  margin: 0;
  padding: 10px 0;
}
div.radio {
  padding: 0 0 5px 0;
}
div.radio label {
  font-size: 16px;
}
input[type="text"] {
  font-family: Roboto, "helvetica neue", helvetica;
  font-weight: 300;
  font-size: 18px;
  padding: 5px;
  padding-left: 30px;
  margin: 20px 0;
  color: #7a8788;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #999;
  outline: none;
  display: block;
  width: 100%;
  -webkit-appearance: none;
  outline: 15px solid transparent;
  transition: all 0.2s;
  background: #fff url("pencil.svg") no-repeat 10px center;
  opacity: 0.3;
}
input[type="text"]:focus {
  outline: 15px solid #eee;
  opacity: 1;
}
input[type="submit"] {
  font-family: Roboto, "helvetica neue", helvetica;
  font-size: 18px;
  font-weight: 300;
  padding: 8px 15px;
  width: 100%;
  background-color: #3498db;
  color: #eee;
  border-radius: 2px;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  margin: 20px 0;
  border: none;
  cursor: pointer;
}
select {
  display: block;
  margin-top: 10px;
}
img.coffee {
  display: block;
  margin: 20px auto 20px auto;
}
