backgroundColor = #1A1B23
headingColor = white
textColor = #AFB1C7
textColorInverse = black
inputBackgroundColor = #000

fancy-font()
  font-family "helvetica neue", helvetica

normal-font()
  font-family "helvetica neue", helvetica, arial, sans