backgroundColor = #222
headingColor = #CCC
textColor = #999
textColorInverse = #EEE
inputBackgroundColor = #111

fancy-font()
  font-family Lato, "helvetica neue", helvetica

normal-font()
  font-family "helvetica neue", helvetica, arial, sans