backgroundColor = #20C0A1
headingColor = #3498DB
textColor = #7A8788
textColorInverse = #EEE
inputBackgroundColor = white

fancy-font()
  font-family Roboto, "helvetica neue", helvetica

normal-font()
  font-family Roboto, "helvetica neue", helvetica