backgroundColor = #4CAEE2
headingColor = #0D477B
textColor = #0D477B
textColorInverse = white
inputBackgroundColor = white

fancy-font()
  font-family vag

normal-font()
  font-family "helvetica neue", helvetica, arial, sans

@font-face
  font-family vag
  src url(/public/vagroundedstd-thin-webfont.woff)
  font-weight 400
  font-style normal