@import "themes/roboto"

box-shadow(args...)
  -webkit-box-shadow args
  -moz-box-shadow args
  box-shadow args

// Styles
// -----------------------------------------------------------------

*, *:before, *:after
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

html
  padding 0
  margin 0

body
  fancy-font()
  font-size 18px
  font-weight 300
  background-color backgroundColor
  padding 15px
  color textColor

.content
  margin-left auto
  margin-right auto
  margin-top 10px
  margin-bottom 20px
  position relative
  width: 100%
  max-width 640px
  padding 15px
  background: white
  box-shadow 1px 2px 5px rgba(0,0,0,0.2)

h1,h2,h3,h4
  font-weight 300
  color headingColor

h1
  font-size 24px
  margin 0
  padding 0

label
  fancy-font()
  font-weight 300
  list-style none
  margin 0
  padding 0 0 6px 0
  font-size 20px
  line-height: 1.5

a
  color headingColor

ul
  &.questions, &.surveys
    list-style none
    margin 0
    padding 0
    > li
      margin 10px 0
      padding 10px 0

div
  &.radio
    padding 0 0 5px 0
    label
      font-size 16px

input[type="text"]
  normal-font()
  font-weight 300
  font-size 18px
  padding 5px
  color textColor
  background-color inputBackgroundColor
  border-radius 2px
  border 1px solid #CCC
  outline none
  display block
  width 100%
  -webkit-appearance none
  &:focus
    border-left 3px solid #3498DB

input[type="submit"]
  fancy-font()
  font-size 18px
  font-weight 300
  padding 5px 15px
  background-color #2ECC71
  color textColorInverse
  border-radius 2px
  outline none
  display inline-block
  -webkit-appearance none
  margin 20px 0
  border none
  cursor pointer